<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Employee_SaleOrderManagement_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_SaleOrderManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SaleOrderManagement_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_SaleOrderManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_Home_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>Servlet.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_EmployeeManagement_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_EmployeeManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_EmployeeUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_EmployeeUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SaleOrderUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_SaleOrderUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SaleOrderLoadUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_SaleOrderLoadUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_HomeUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_HomeUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_EmployeeLoadUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_EmployeeLoadUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_InvoiceManagement</servlet-name>
        <servlet-class>Servlet.Employee_InvoiceManagement</servlet-class>
        <servlet-name>Admin_EmployeesAdd_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_EmployeesAdd_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee_CustomerManagement_Servlet</servlet-name>
        <url-pattern>/Employee_CustomerManagement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_SaleOrderManagement_Servlet</servlet-name>
        <url-pattern>/Employee_SaleOrderManagement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SaleOrderManagement_Servlet</servlet-name>
        <url-pattern>/Admin_SaleOrderManagement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home_Servlet</servlet-name>
        <url-pattern>/Admin_Home_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/Logout_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_EmployeeManagement_Servlet</servlet-name>
        <url-pattern>/Admin_EmployeeManagement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_EmployeeUpdate_Servlet</servlet-name>
        <url-pattern>/Admin_EmployeeUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SaleOrderUpdate_Servlet</servlet-name>
        <url-pattern>/Admin_SaleOrderUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SaleOrderLoadUpdate_Servlet</servlet-name>
        <url-pattern>/Admin_SaleOrderLoadUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_HomeUpdate_Servlet</servlet-name>
        <url-pattern>/Employee_HomeUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_EmployeeLoadUpdate_Servlet</servlet-name>
        <url-pattern>/Admin_EmployeeLoadUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_SaleOrderLoadUpdate_Servlet</servlet-name>
        <url-pattern>/Employee_SaleOrderLoadUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_SaleOrderUpdate_Servlet</servlet-name>
        <url-pattern>/Employee_SaleOrderUpdate_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_InvoiceManagement</servlet-name>
        <url-pattern>/Employee_InvoiceManagement</url-pattern>
        <servlet-name>Admin_EmployeesAdd_Servlet</servlet-name>
        <url-pattern>/Admin_EmployeesAdd_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>About_Servlet</servlet-name>
        <servlet-class>Servlet.About_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_CustomerManagement_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_CustomerManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_SaleOrderLoadUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_SaleOrderLoadUpdate_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_SaleOrderUpdate_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_SaleOrderUpdate_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>About_Servlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Contact_Servlet</servlet-name>
        <servlet-class>Servlet.Contact_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact_Servlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Faq_Servlet</servlet-name>
        <servlet-class>Servlet.Faq_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faq_Servlet</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index_Servlet</servlet-name>
        <servlet-class>Servlet.Index_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index_Servlet</servlet-name>
        <url-pattern>/index_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Servlet.Login_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Preview_Servlet</servlet-name>
        <servlet-class>Servlet.Preview_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Preview_Servlet</servlet-name>
        <url-pattern>/preview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Employee_Home_Servlet</servlet-name>
        <servlet-class>Servlet.Employee_Home_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee_Home_Servlet</servlet-name>
        <url-pattern>/Employee_Home_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-class>Servlet.Cart_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart_Servlet</servlet-name>
        <url-pattern>/cart_add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cart_SaleOrder_Servlet</servlet-name>
        <servlet-class>Servlet.Cart_SaleOrder_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart_SaleOrder_Servlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Revenue_Servlet</servlet-name>
        <servlet-class>Servlet.Admin_Revenue_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Revenue_Servlet</servlet-name>
        <url-pattern>/Admin_Revenue_Servlet</url-pattern>
    </servlet-mapping>
</web-app>
